{% extends 'base.html' %}

{% block title %}
	select view
{% endblock %}

{% block top %}

{% endblock %}
<!-- the main section-->
{% block main %}
	<div id="card-sec">
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Graphic Design</h5>
						<p class="card-text">Some text with more datails here</p>
						<a href="#" class="btn btn-primary">Veiw Our Work</a>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Graphic Design</h5>
						<p class="card-text">Text with some more details here</p>
						<a href="#" class="btn btn-primary">Veiw Our Work</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}